.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border: solid 1px #000;
  color: black;
  box-shadow: 0 10px 6px -6px #fafafa;
  min-height: 50px;
  width: 80vw;
  margin: 10px auto;
  border-radius: 5px;
}

.wrep-card-room {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.card-room {
  position: relative;
  padding: 5px 10px;
  background-color: #fff;
  border: solid 1px #000;
  color: black;
  box-shadow: 0 10px 6px -6px #fafafa;
  min-height: 200px;
  height: 200px;
  width: 80vw;
  margin: 10px auto;
  border-radius: 5px;
  /* background-image: url('./bg-modal.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* opacity: 0.8; */
}

.header-room {
  width: 100%;
  height: 250px;
  background-image: url('./bg-room.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-mt {
  height: 50px;
  width: 90%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: orange;
  text-decoration: unset;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: dimgrey;
}

.detail-card {
  position: absolute;
  word-wrap: normal;
  word-break: break-word;
  white-space: normal;
  display: block;
  height: 150px;
  margin: 3px auto;
  font-size: 1rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: scroll;
}

.text-from {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.btn-join {
  height: max-content;
  padding: 5px;
  width: 80px;
  margin: 15px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #85c1e9;
  text-decoration: unset;
}

.modal-room {
  position: absolute;
  top: 22%;
  height: 30%;
  width: 82%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid #000;
}

@media only screen and (min-width: 992px) {
  .header-room {
    background-image: none;
  }
  .room {
    background-image: url('./bg-room.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
  }

  .btn-mt {
    height: 50px;
    width: 70%;
    margin-top: 50px;
  }

  .modal-room {
    height: 40%;
    width: 40%;
  }

  .text-area-room {
    min-height: 60%;
    width: 80%;
  }

  .input-room {
    width: 80%;
  }

  .card-room {
    margin: 10px;
    box-shadow: 0 10px 6px -6px #fafafa;
    height: 100px;
    width: 30%;
  }

  .detail-card {
    height: 150px;
    width: 90%;
  }

  .text-from {
    bottom: 0;
  }

  .wrep-card-room {
    flex-flow: wrap;
  }
}

.input-create-room {
  width: 85%;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 0.5rem;
  font-size: 16px;
}

.text-area-room {
  height: 40%;
  width: 80%;
  max-height: 40%;
  max-width: 80%;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 0.5rem;
  font-size: 16px;
}

.input-room {
  float: right;
  width: 30%;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0.3rem;
  font-size: 14px;
}

.btn-create-room {
  margin: 20px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #85c1e9;
  padding: 0.5rem;
  font-size: 16px;
}

.btn-room {
  margin-top: 10px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #85c1e9;
  padding: 0.5rem;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
